// fonts exctend
%unna_font {
    font-family: 'Unna', serif;
}

%open_sans_font {
    font-family: 'Open Sans', sans-serif;
}

// color exctend
%gold_color {
    color: #CB9C57;
}

%white_color {
    color: #fff;
}

%gold_color_bg {
    background-color: #CB9C57;
}

%cold_color_hover {
    background-color: #826C49;
}